body {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	background-color: #5c5c5c;
}

#container {
	display: flex;
	flex-wrap: wrap;
	width: 480px;
}

#container #title {
	width: 480px;
	display: flex;
	justify-content: center;
	color: white;
	font-size: 3em;
}

#container #button {
	width: 480px;
	display: flex;
	justify-content: center;
	padding: 10px;
}

#grid-container {
	display: flex;
	flex-wrap: wrap;
	background-color: #222020;
}

.grid-square {
	outline: solid 0.1px; #f0f0f0;
}

* {
	font-family: Roboto, 'Helvetica Neue', san-serif;
}

button {
	width: 130px;
	height: 30px;
	background-color: white;
	border-radius: 6px;
	border-style: solid;
	border-color: black;
	color: black;
}
